#php_flag display_errors off
php_flag register_globals off
php_flag allow_call_time_pass_reference off

# Don't show directory listings for URLs which map to a directory.
Options -Indexes

# Follow symbolic links in this directory.
Options +FollowSymLinks

# Make Application handle any 404 errors.
#root directoty 404.php
ErrorDocument 404 /404.php
ErrorDocument 500 /500.php 

#Max execution time for script
php_value max_execution_time 1000

<ifmodule mod_deflate.c>
#AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript
</ifmodule>

<IfModule mod_rewrite.c>
RewriteEngine on

#Allow only access via www link
#RewriteCond %{HTTP_HOST} !^www.pricetag.com [NC]
#RewriteRule ^(.*)$  http://www.pricetag.com/$1 [QSA,L,R=301]

#RewriteRule ^captcha(.*)$ captcha.php?{query_string} [QSA,L]
#RewriteRule ^server(.*)$ server.php?{query_string} [QSA,L]
#RewriteRule ^image(.*)$ image.php?img=$1&%{query_string} [QSA,L]
#RewriteRule ^download(.*)$ download.php?id=$1&type=$2%{query_string} [QSA,L]
#RewriteRule ^css(.*)$ css.php?path=$1&%{query_string} [QSA,L]
#RewriteRule ^js(.*)$ js.php?path=$1&%{query_string} [QSA,L]
RewriteRule ^go(.*)$ go.php?params=go$1&%{query_string} [QSA,L]
RewriteRule ^cron(.*)$ cron.php?params=cron$1&%{query_string} [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^(.*)/favicon\.ico$
RewriteRule ^(.*)$ index.php?params=$1&%{query_string} [QSA,L]
</IfModule>